.list-item {
  justify-content: space-between;
  margin: 0;
  color: #333333;

  &.head {
    font-weight: 600;
  }

  &:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  &.flex {
    display: flex;
  }

  &.algin-items-center {
    align-items: center;
  }

  &.justify-content-flex-start {
    justify-content: flex-start;
  }
}
