.list-item {
  border: 1px solid #cdcdcd;
  &:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  &:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  &:active {
    background-color: #b1b1b1;
  }
  &:hover {
    background-color: #fefefe;
  }
  &:visited {
    color: #cdcdcd;
  }

  &.flex {
    display: flex;
  }

  &.justify-content-center {
    justify-content: center;
  }

  &.algin-items-center {
    align-items: center;
  }
}
