.input-wrapper {
  transition: border-color 0.3s;
  padding: 1rem;

  &.border {
    border: 1px solid #bdbdbd;
  }

  &.flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.border-top-left-radius {
    border-top-left-radius: 5px;
  }

  &.border-top-right-radius {
    border-top-right-radius: 5px;
  }

  &.border-bottom-left-radius {
    border-bottom-left-radius: 5px;
  }

  &.border-bottom-right-radius {
    border-bottom-right-radius: 5px;
  }

  &.focus {
    border-color: #9fa8da;
  }
}
