.vcol {
  margin-right: 1rem;
  &.title {
    width: 100%;
  }
  &.sn {
    width: 3rem;
  }
  &.author {
    width: 6rem;
  }
  &.date {
    width: 4rem;
  }
  &.hit {
    width: 3rem;
  }
  &.rate {
    width: 3rem;
  }
  &.head {
    font-weight: 600;
  }
  &.margin-zero {
    margin: 0;
  }
}
