.vote-box {
  padding: 1rem 1.5rem;
  border: 1px solid #bbb;
  border-radius: 4px;
  color: #bbb;
  cursor: pointer;
  transition: color 0.5s, border-color 0.5s;

  &:hover {
    border: 1px solid black;
    color: black;
  }

  &.voted {
    border: 1px solid black;
    color: black;
  }
}
