.forum-comment-form {
  border-radius: 3px;
  background-color: rgba(81, 107, 130, 0.15);
  margin-bottom: 0.75rem;
  padding: 1rem;

  .title {
    font-size: 1rem;
    font-weight: bold;
  }
}

.re {
  margin-left: 2rem;
}
