.comment-title {
  padding: 1rem 0.5rem;
  font-weight: bold;
}

.forum-comment-area {
  font-size: 0.9rem;
}

.comment-paginator-box {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
