.article-header {
  .article-title {
    padding: 0.5rem 0.75rem;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    background-color: #eee;
    font-size: 1.1rem;
  }

  .article-info {
    padding: 0.5rem 0.75rem;
    border-bottom: 1px solid #bbb;
    font-size: 0.95rem;
  }

  .article-post-btn-group {
    display: flex;
    justify-content: flex-end;
  }
}
