/* comment container */
.comment-container {
  margin: 0 auto;
  max-width: 768px;
  font-size: 0.9rem;
}

.comment__box__comment {
  margin: 0 auto;
  padding: 0.5rem 0 1rem 0; /*상 우 하 좌*/
  border-bottom: 1px solid black;
  list-style: none;
}

.comment__form {
  border: 1px solid black;
  margin: 0.18rem 0;
}

.comment__form__input_area {
  border-bottom: 1px solid black;
  padding: 0.5rem 1rem;
}

.comment__input {
  width: 100%;
  height: 60px;
  resize: none;
}

.logined {
  border: none;
}

.first {
  padding-left: 0;
}

.comment__info {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0;

  .comment__info__username {
    font-weight: bold;
  }

  .comment__info__dt_created {
    color: gray;
  }
}

.comment__content {
  padding-bottom: 1rem;
}

.comment__child_count {
  font-weight: bold;
}

.comment__form__submit_area {
  display: flex;
  flex-direction: row-reverse;
}

.comment__child_toggle_btn {
  background-color: white;
  border: 1px solid black;
}

.comment__submit_btn {
  background-color: #263343;
  color: white;
  border-radius: 0;
  border: 0;
  padding: 1rem;
  font-weight: bold;
}
