/* comment container */
.comment-container {
  margin: 0 auto;
  max-width: 768px;
  font-size: 0.9rem;
}

/* comment box */
.first {
  padding-left: 0;
}

/* comment navbar */
.comment_navbar {
  padding: 0.75rem 0;
  margin: 0;
  display: flex;
  list-style: none;
  flex-direction: row-reverse;

  & li {
    padding: 0 0.25rem;
    cursor: pointer;
  }

  & li:hover {
    text-decoration: underline;
  }
}

.comment__box {
  margin: 0;
}

.current {
  text-decoration: underline;
  font-weight: bold;
}

/* comment form */
.comment__form {
  border: 1px solid black;
  margin: 0.18rem 0;
  background-color: #fff;

  .comment__form__input_area {
    border-bottom: 1px solid black;
    padding: 0.5rem 1rem;

    .logined {
      border: none;
    }
  }

  .comment__input {
    width: 100%;
    height: 60px;
    resize: none;
  }

  .comment__form__submit_area {
    display: flex;
    flex-direction: row-reverse;

    .comment__submit_btn {
      background-color: #263343;
      color: white;
      border-radius: 0;
      border: 0;
      padding: 1rem;
      font-weight: bold;
    }
  }
}

/* comment row */
.comment_row {
  list-style: none;
}

/* comment */
.comment {
  border-bottom: 1px solid #666;
  margin: 0 auto;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem; /*상 우 하 좌*/
  font-size: 0.8rem;

  .comment__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0;

    .comment__header__username {
      font-weight: bold;
    }

    .comment__header__right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .comment__header__dt_created {
      color: #666;
    }
  }

  .comment__modify {
    & textarea {
      width: 100%;
      font-size: inherit;
      resize: none;
      border: none;
      outline: none;
    }
  }

  .comment__content {
    padding: 0.75rem 0;

    .content {
      display: inline-block;
      white-space: pre-wrap;
    }

    .modified {
      display: inline-block;
      font-weight: bold;
      font-size: 0.7rem;
      margin-right: 1rem;
    }
  }

  .comment__footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    .comment__child_toggle_btn {
      background-color: white;
      border: 1px solid black;

      .comment__child_count {
        font-weight: bold;
      }
    }
  }
}

/* comment management menu */

.comment__management_menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  cursor: pointer;
  align-items: center;

  & li {
    padding: 0 0.25rem;
    &:hover {
      text-decoration: underline;
    }
  }
}

.comment__re {
  background-color: #fafafa;
  border-bottom: 1px solid #666;
}
