$max-width: 768px;
$outline-color: #666;
$outline-style: solid;
$outline-width: 1px;

.content_container {
  margin: 0 auto;
  max-width: $max-width;
}

.like_box_container {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

.like_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 1rem 1.5rem;
  margin: 0 1.5rem;
  border: $outline-width $outline-style $outline-color;
  color: #666;
  &:hover {
    color: black;
  }
}

.clicked {
  color: black;
}
