/* Forum List */

/* 임시 */
.board_article {
  max-width: 1024px;
  margin: 0 auto;
}

.list_table {
  border-top: 1px solid #666;
  font-size: 0.95rem;
}

.vrow {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.4rem 0.6rem;
  border-bottom: 1px solid #666;
  color: black;
}

a.vrow:hover {
  color: black;
  background-color: #ccc;
}

.head {
  font-weight: bold;
}

.vrow__top {
  display: flex;
  flex: 1;
}

.vrow__bottom {
  display: flex;
}

.vcol {
  margin-right: 1rem;
}

.col_id {
  width: 3rem;
}

.col_author {
  width: 6rem;
}

.col_time {
  width: 4rem;
}

.col_hit {
  width: 3rem;
}

.col_rate {
  width: 3rem;
}
