$border-radius-standard: 4px;

.login {
  border: 1px solid black;
  border-radius: $border-radius-standard;
  padding: 2rem 3rem;
  margin: 30vh auto;
  width: 768px;
}

.login__form {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  margin: 0.5rem auto;

  width: 60%;
}

.login__form__input {
  margin: 0.3rem 0;
  input {
    padding: 8px;
    width: 100%;
    border-radius: $border-radius-standard;
    font-size: 14px;
  }
}

.login__form__label {
  width: 100px;
  display: inline-block;
  text-align: right;
  padding-right: 2rem;
}

@media screen and (max-width: 768px) {
  .login {
    width: 80vw;
  }
  .login__form {
    width: 100%;
  }
  .login__submit {
    width: 100%;
  }
}
