.navbar {
  display: flex;
  // justify-content: -> 가로축으로 정렬
  // align-items: -> 세로축으로 정렬
  justify-content: space-between;
  align-items: center;
  background-color: #263343;
  padding: 0.3rem 1rem;
  color: white;
  a {
    color: white;
  }
}

.navbar__logo {
  font-size: 24px;
  cursor: pointer;
  .icon {
    // color: white;
    margin-right: 0.5rem;
  }
}

.navbar__menu {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style: none;

  li {
    padding: 0.7rem 1rem;

    &:hover {
      background-color: #d49466;
      border-radius: 4px;
    }
  }
}

.navbar__account {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style: none;

  li {
    padding: 0.7rem 1rem;
    cursor: pointer;

    &:hover {
      background-color: #d49466;
      border-radius: 4px;
    }
  }
}

/* toggle button 기존 flex-flow에서 벗어나 가장 위에 위치해야 한다. -> position: absolute*/
.navbar__toggle {
  cursor: pointer;
  position: absolute;
  right: 32px;
  top: 12px;
  font-size: 24px;
  display: none;
  color: #d49466;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    /* 수평 축을  좌로 정렬한다.*/
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    align-items: center;
    /* 상위 컴포넌트에 대한 너비 비율*/
    width: 100%;
    // display: none;
    // transition: ;

    li {
      /* width: 100vw로 맞추면 텍스트가 왼쪽으로 정렬된다.*/
      width: 100vw;
      text-align: center;
    }
  }

  .navbar__account {
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    // display: none;

    // li {
    //   width: 100vw;
    //   text-align: center;
    //   justify-content: center;
    // }
  }

  .navbar__toggle {
    display: block;
  }
}
