$previous-next-hover-color: #263343;
$pagination-page-background-color: #fafafa;
$pagination-page-border-color: #e2e2e2;
$pagination-border-radius: 2px;

.pagination_container {
  display: flex;
  justify-content: center;
  margin-left: -2rem;
  padding: 0.75rem 0;
  border-bottom: 1px solid #666;
}

.paginator {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;

  & li {
    display: flex;
    justify-content: center;
    min-width: 32px;
    padding: 0.25rem 0.5rem;
    text-align: center;
  }

  & .paginator__page {
    background-color: $pagination-page-background-color;
    cursor: pointer;
    border-right: 1px solid $pagination-page-border-color;
    border-top: 1px solid $pagination-page-border-color;
    border-bottom: 1px solid $pagination-page-border-color;
    font-weight: 500;
  }

  & .paginator__page:hover {
    background-color: #ddd;
  }

  & .paginator__page:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-left: 1px solid $pagination-page-border-color;
  }

  & .paginator__page:last-child {
    border-top-right-radius: $pagination-border-radius;
    border-top-left-radius: $pagination-border-radius;
  }

  .previous,
  .next {
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: $previous-next-hover-color;
    }
  }
}
