.forum-comment {
  margin-bottom: 0.75rem;
  &.re {
    margin-left: 2rem;
    .comment-info {
      background-color: #f6f6f6;
    }
    &.by-author {
      background-color: rgba(240, 173, 78, 0.05);
    }
  }
  .comment-info {
    background-color: #f1f1f1;
    &.by-author {
      background-color: rgba(240, 173, 78, 0.3);
    }
  }
  .span-link {
    &:hover {
      text-decoration: underline;
    }
  }
}

.comment-info {
  border-radius: 3px;
  padding: 0.4rem 0.5rem;
}

.comment-message {
  padding: 0.55rem 0.55rem;
  line-height: 1.5;
  word-break: break-word;
  word-wrap: break-word;
}
