.list-item-link {
  justify-content: space-between;
  border-bottom: 1px solid #cdcdcd;
  color: #333333;

  &.head {
    font-weight: 600;
  }

  &:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  &:active {
    background-color: #fafafa;
  }
  &:hover {
    background-color: #fafafa;
  }
  &:visited {
    color: #cdcdcd;
  }

  &.flex {
    display: flex;
  }

  &.algin-items-center {
    align-items: center;
  }
}
